/* Скидання стилів */
@import url("reset.css");

/* шрифти */
@font-face {
	font-family: "Proxima Nova";
	src:
url("../fon/ProximaNova-Regular.woff2") format("woff2"),
	url("../fon/ProximaNova-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap");
/*---------------------------------*/
body{
  font-family: "Poppins",sans-serif;
	background-color: #0D0D11;
	color: #FFFFFF;

}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
  padding-block: 20px;
	flex: 1 1 auto;
}
.wrapper > main {
	flex-grow: 1;
}


/* --------container---------- */
[class*=__container] {
	max-width: 1320px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.header {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

/* --------components---------- */

.main__header {
}
.header-main {
}
.header-main__title {
	font-weight: 500;
	font-size: 51px;
	font-size: 1.19; /* 61/51 */
position: relative;
}
.header-main__title:not(:last-child){
	margin-bottom: 28px;
}
.header-main__text {
	color: #9c9c9c;
	font-size: 18px;
	line-height: 1.5; /* 27/18 */
}



.text{
	line-height: 1.5; /* 27/18 */
	color: #81818B;
}
.button {
	display: inline-block;
	padding: 16px 29px 16px 29px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background-color: #3D96F4;
	border-radius: 50px;
	transition: all 0.4s;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.43; /* 22/14 */
}

.button_dark {
  background: rgba(129, 129, 139, 0.2);
}

@media (any-hover:hover) {
	.button:hover {
		background-color: #156dcc;
	}
}
@media (any-hover:hover) {
	.button_dark:hover {
		background: rgba(107, 107, 114, 0.2);
	}
}
.menu__icon {
	display: none;
}
.header-main__label{
	display: inline-block;
	border: 1px solid rgba(129, 129, 139, 0.2);
	border-radius: 12px;
	letter-spacing: 0.2;
	text-transform: uppercase;
	color: #9c9c9c;
	padding: 11px 18px;
}
.header-main__label:not(:last-child){
margin-bottom: 19px;
}
.header-main__body{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.header-main__body .header-main__acction{
	align-self: flex-end;
	flex: 0 0 auto;
}

.header-main__button{
	align-self: flex-end;
}

	


@media (any-hover:hover) {
	.header-main__label:hover {
		background: rgba(107, 107, 114, 0.4);
	}
}
@media (min-width: 767.98px){
	.header-main__title{
		max-width: 520px;
	}

	.header-main__text{
		max-width: 500px;
	}
	
	}
	@media (max-width: 767.98px){
		.header-main__title{
			font-size: 32px;
		}
		.header-main__title:not(:last-child){
			margin-bottom: 15px;
		}
		.header-main__text:not(:last-child){
			margin-bottom: 15px;
		}
		.header-main__body{
			flex-direction: column;
			gap: 0;
		}
		.header-main__body .header-main__acction{
			align-self: flex-start;
		}
	}


/* --------header---------- */
.header {
	position: sticky;
}
.header__container {
	display: flex;
	min-height: 116px;
	align-items: center;
	padding-block: 5px;
	column-gap: 35px;

}
.header__logo {
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
	flex-wrap: wrap;
}
.menu {
}

.icon-menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	column-gap: 35px;
	row-gap: 3px;
	
}
.menu__item {
	z-index: 5;
}
.menu__link {
	display: block;/*-пункти на весь екран-*/
	font-weight: 300;
	color: #fff;
	line-height: 1.6; /* 26/16 */
	transition: all 0.4s;

}
@media (any-hover:hover) {
	.menu__link:hover {
	text-decoration: underline;
	}
}
.header__cart {
	z-index: 5;
}
.cart-header {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
}
.cart-header__text {
	font-size: 18px;
	line-height: 1.55; /* 28/18 */
}
.cart-header__number {
	background: #81818B;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
}
@media (any-hover: hover) {
	.cart-header__number:hover {
		background: #6f6f76;
	}
}
.header__button {
	flex: 0 0  auto;
	z-index: 5;
}

@media (max-width: 991.98px){
	.menu__list,
	.header__container {
	column-gap: 25px;
}
.button{
	padding: 12px 20px 12px 20px;
}
.header__container{
	min-height: 90px;
}
}

@media (max-width: 720.98px){
	.menu__list,
	.header__container {
	column-gap: 15px;
}

/*--бургер--*/
	.icon-menu{
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before{
		top: 0;
	}
	.icon-menu::after{
		bottom: 0;
	}
	.icon-menu span{
		top: calc(50% - 1px);
	}

	.menu-open .icon-menu span{
		width: 0;
	}
	.menu-open .icon-menu::before{
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu-open .icon-menu::after{
		bottom: calc(50% - 1px);
		transform:  rotate(45deg);
			}


	.menu__body{
		position: fixed;
		overflow: auto; /*-дозволювати скрол користувачу-*/
		width: 100%;
		height: 100%;
		background-color: #0D0D11;
		right: -100%;
		top: 0;
		padding: 100px 15px 30px 15px ;
		transition: all 0.5s;
		
	}
	/*--виїзд менб--*/
	.menu-open	.menu__body,
	.menu-open	.menu__body::before{
		right: 0;
	}
	.menu__body::before{
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background-color: #0D0D11;
		opacity: 0.95;
		transition: all 0.5s;
		z-index: 5;
	}
	

	.menu__list{
		flex-direction: column;
		justify-content: center;
	text-align: center;
		row-gap: 15px;
	}
	.menu__link{
		font-size: 25px;
	}
	.header__container{
		min-height: 70px;
	}
	.header__button{
		padding: 10px 15px;
		letter-spacing: 1px;
	}
}
@media (max-width: 560px){
	.header__logo {
		width: 40px;
		flex: 0 0 40px;
		overflow: hidden;
	}
	.cart-header__text{
		display: none;
	}
}
.menu__body::before{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	background-color: #0D0D11;
	opacity: 0.95;
	transition: all 0.5s;
	z-index: 4;
}
/*-----------section-1---------------*/

.main {
	padding-top: 44px;
	padding-bottom: 160px;
}
.main__container {
	display: flex;
	gap: 32px;
}
.main__contain {
	flex: 0 1 50%;
align-self: center;
}

.main__header{
	position: relative;
}

.main__header::before{
	content:"" ;
	background: url("../img/backgorund_title.svg") 0 0 /100% no-repeat;
	width: 122px;
	height: 122px;
	position: absolute;
	top: -10px;
	left: -34px;
}
.header-main__text {
	max-width: 500px;
}
.header-main__text:not(:last-child){
	margin-bottom: 33px;
}
.header-main__acction {
	display: flex;
	column-gap: 32px;
	row-gap: 15px;
}

.main__images {
	flex: 0 1 50%;
}

.images-main {
	display: flex;
	justify-content: center;
	gap: 9.615385%; /* 60/624 */
}
.images-main__column{
	display: flex;
	flex-direction: column;
	gap: 32px;
} 
.images-main__item {
	border-radius: 50% / 29%;
	overflow: hidden;
}
.images-main__item img {
max-width: 100%;
}
.images-main__item_1,
.images-main__item_4{
	border-radius: 50% / 29%;
}
.images-main__item_2{
	border-radius: 50% 50% 0 50%;
}
.images-main__item_3{
	border-radius: 50%  0 50% 50%;
}
@media (max-width: 991.98px){
	.menu__body::before{
		height: 90px;
	}
	.main {
		padding-top: 34px;
		padding-bottom: 80px;
	}
	.header-main__title{
		font-size: 44px;
	}
}
@media (max-width: 767.98px){
	.menu__body::before{
		height: 80px;
	}
	.main {
		padding-top: 24px;
		padding-bottom: 60px;
	}
	.main__container{
		flex-direction: column;
	}
	.main__contain{
		align-items: stretch;
	}
}
@media (max-width: 479.98px){
.header-main__acction{
	flex-direction: column;
}
}


/*----------section-2-----*/

.clients {
	padding-top: 100px;
	padding-bottom: 70px;
}
.clients__container {

}
.clients__title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
	margin-bottom: 44px;
	transition: all 0.5s;
}
@media (any-hover:hover) {
	.clients__title:hover {
	text-decoration: underline;
	}
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
}

.clients__items img{
	max-width: 100%;
}
.clients__item {
}

@media (max-width: 991.98px){
	.clients {
		padding-top: 70px;
		padding-bottom: 50px;
	}}
	@media (max-width: 767.98px){
		.clients {
			padding-top: 30px;
			padding-bottom: 30px;
		}}



		/*==========================================================================================*/
		
		.services {
			padding-top: 70px;
			padding-bottom: 100px;
		}
		.services__container {
			display: flex;
			gap: 32px;
		}
		.services__content {
			flex: 0 1 50%;
			align-self: center;
		}
		.services__header {
		}
		.header-main {
		}
		.header-main__label {
		}
		
		.header-main__text {
		}
		.header-main__acction {
		}
		.header-main__button {
		}
		.button {
		}
		.services__items {
			display: flex;
			flex: 0 1 50%;
			justify-content: center;
			gap: 32px;
		}
		.services__column:first-child {
			padding-top: 48px;
		}
		.services__item {
		}
		.services__item:not(:last-child) {
			margin-bottom: 32px;
		}
		.item-services {
			background: rgba(129, 129, 139, 0.1);
			border-radius: 30px;
			padding: 55px 25px;
			display: block;
		}
		.item-services__icon:not(:last-child) {
			margin-bottom: 16px;
		}
		.item-services__icon{
			position: relative;
			display: block;
			overflow: hidden;
			padding-bottom: 35%;
			flex: 0 1 33.333%;
			
		}
		.item-services__icon img{
position: absolute;
aspect-ratio: 51px / 51px;

object-fit: cover;

		}
		.item-services__icon:hover img{
			transform: scale(1.1);
		}
		.item-services__title {
			font-size: 19px;
			line-height: 1.4; /* 27/19 */
			font-weight: 400px;
			color: #fff;
		}
		.item-services__title:not(:last-child) {
			margin-bottom: 10px;
		}
		.item-services__text {
		}
		@media (max-width: 1100.98px){
			.services__container{
				flex-direction: column;
			}
		
		}
		@media (max-width: 1100px){
			.services__header .header-main__title
			{
				max-width: none;
			}
		}
		@media (max-width: 1100px){
			.services__header .header-main__text
			{
				max-width: none;
			}
		}

		@media (max-width: 991.98px){
			.services {
				padding-top: 50px;
				padding-bottom: 50px;
			}}
			@media (max-width: 767.98px){
				.services {
					padding-top: 30px;
					padding-bottom: 30px;
				}}
				@media (max-width: 620.98px){
					.services__items{
						flex-direction: column;
					}
					.services__column:first-child {
						padding-top: 0px;
					}
					.item-services {
					
						padding: 15px 15px;
						
					}
					}


		/*==========================================================================================*/
		
	
					.why {
						padding-top: 70px;
			padding-bottom: 100px;
					}
					
	
					.why__container {
						display: flex;
						column-gap: 64px;
						row-gap: 32px;
					}
					.why__images {
						flex: 0 1 50%;
					}
					.images-why {
						display: flex;
						position: relative;
						align-self: flex-end;
					}
					.images-why__item {
						overflow: hidden;
					}
					.images-why__item img{
						max-width: 100%;
					}
					.images-why__item_1 {
						border-radius: 90% 0 49% 49% /  50% 0 31% 31%  ;
					}
					.images-why__item_2 {
						align-self: flex-end;
						border-radius: 50% 50% 50% 0;
					}
					.why__content {
						flex: 0 1 50%;
						align-self: center;
					}
					.why__header {
					}
					.images-why::before{
						content:"" ;
						background: url("../img/backgorund_title.svg") 0 0 /100% no-repeat;
						width: 122px;
						height: 122px;
						position: absolute;
						bottom: -10px;
						left: -34px;
					}
					.header-main {
					}
					.header-main__label {
					}
					.header-main__title {
					}
					.header-main__text {
					}
					.header-main__list li {
						position: relative;
						min-height: 32px;
						padding-left: 40px;
						line-height: 1.5; /* 24/16 */
						padding-top: 4px;
						transition: all 0.4s;
					}
					@media (any-hover:hover) {
						.header-main__list li:hover {
						text-decoration: underline;
						}
					}
					.header-main__list li:not(:last-child) {
						margin-bottom: 16px;
					}
					.header-main__list li::before{
						content:"" ;
						background: url("../img/chek.svg") 0 0  no-repeat;
						position: absolute;
						width: 32px;
						height: 32px;
					top: 0;
					left: 0;
					border-radius: 50%;
					}

					@media (max-width: 991.98px){
						.why {
							padding-top: 50px;
							padding-bottom: 50px;
						}}
						@media (max-width: 767.98px){
							.why  {
								padding-top: 30px;
								padding-bottom: 30px;
							}
						.why__container{
							flex-direction: column-reverse;
						}
						.header-main__title{
							font-size: 30px;
						}
						}
		/*==========================================================================================*/
			
						.advantages {
							padding-top: 70px;
							padding-bottom: 100px;
						}
						.advantages__container {
							display: flex;
							row-gap: 32px;
						}
						.advantages__items {
							flex: 1 1 auto;
							padding-right: 32px;
							display: grid;
							gap:32px ;
							grid-template-columns: repeat(2, 1fr);
							grid-template-rows: repeat(2, 1fr);
						}
						.advantages__item {
							padding: 40px;
							background: rgba(129, 129, 139, 0.1);
							border-radius: 30px;
							transition: all 0.4s;
						}
						@media (any-hover:hover) {
							.advantages__item:hover {
							transform: scale(1.1);
							}
						}
						.advantages__value {
							font-weight: 500;
							font-size: 51px;
						}
						.advantages__value:not(:last-child) {
							margin-bottom: 32px;
						}
						.advantages__text {
							font-size: 18px;
							line-height: 1.5;
						}
						.advantages__image {
							align-self: flex-end;
							flex: 0 0 38%;
							overflow: hidden;
							border-radius: 0% 68% 60% 60% / 0% 68% 50% 50%;
						}
						.advantages__image img{
							max-width: 100%;
							transform: scale(1.01);
						}
					


						@media (max-width: 991.98px){
							.advantages {
								padding-top: 50px;
								padding-bottom: 50px;
							}
							.advantages__container{
								flex-direction: column;
							}
							.advantages__image{
								align-self: center;
							}
							.advantages__value{
								font-size: 30px;
							}
							.advantages__items{
								padding-right: 0;
							}
						}
							@media (max-width: 767.98px){
								.advantages {
									padding-top: 30px;
									padding-bottom: 30px;
								}}
								@media (max-width: 650.98px){
								.advantages__items{
										grid-template-columns: auto;
									}
								}

		/*==========================================================================================*/
				
								.testimonials {
									padding-top: 70px;
									padding-bottom: 100px;
								}
								.testimonials__container {
								}
								.testimonials__header {
									margin-bottom: 64px;
								}
								.header-main {
								}
								.header-main__label {
								}
								.header-main__body .header-main__title {
									max-width: none;
								}
								.header-main__body .header-main__text {
									max-width: 740px;
								}

								.header-main__text {
								}
								.header-main__body:not(:last-child) {
									margin-bottom: 30px;
								}
								.header-main__button {
								}
								.button {
								}
								.testimonials__items {
									display: grid;
									grid-template-columns: repeat(3,1fr);
									gap: 32px;
								}
								.testimonials__item {
								
								}
								.item-testimonials {
									padding: 64px 40px;
									background: rgba(129, 129, 139, 0.1);
									border-radius: 30px;
									display: flex;
									flex-direction: column;
									gap:32px ;
								}
								.item-testimonials__user {
								}
								.user-testimonials {
									display: flex;
									align-items: center;
									gap: 16px;
									transition: all 0.4s;
								}
								@media (any-hover:hover) {
									.user-testimonials:hover {
									transform: scale(1.1);
									}}
								.user-testimonials__avatar {
									flex: 0 0 68px;
									overflow: hidden;
								}
								.user-testimonials__avatar img{
									max-width: 100%;
									transform: scale(1.02);
								}
								.user-testimonials__avatar_1 {
									border-radius: 0 50% 50% 50%;
								}
								.user-testimonials__avatar_2 {
									border-radius:  50%  0 50% 50%;
								}
								.user-testimonials__avatar_3 {
									border-radius: 50% 50%  0 50%;
								}
								.user-testimonials__body {
								}
								.user-testimonials__title {
									line-height: 1.5;
									line-height: 1.5; /* 22/14 */
								}
								.user-testimonials__title:not(:last-child) {
									margin-bottom: 7px;
								}
								.user-testimonials__company {
									font-size: 14px;
								}
								.item-testimonials__title {
									font-size: 32px;
									line-height: 1.40; /* 45/32 */
								}
								.item-testimonials__text {
									flex: 1 1 auto;
								}
								.text {
								}
								.item-testimonials__rating {
								}
								.user-testimonials__avatar_2 {
								}
								.user-testimonials__avatar_3 {
								}
								.header-main__body .header-main__text{
									margin: 0;
								}
								@media (max-width: 1100.98px){
										.testimonials__items{
											grid-template-columns: auto;
										}
								}
								
						@media (max-width: 991.98px){
							.testimonials {
								padding-top: 50px;
								padding-bottom: 50px;
							}
							.testimonials__header {
								margin-bottom: 40px;
							}
						}
							@media (max-width: 767.98px){
								.item-testimonials__title{
									font-size: 19px;
								}
									.testimonials{
									padding-top: 30px;
									padding-bottom: 30px;
								}
								.item-testimonials{
									padding: 30px 15px;
								}
							}
								

		/*==========================================================================================*/
							.page__blog {
							}
							.blog {
								padding-top: 100px;
								padding-bottom: 100px;
							}
							.blog__container {
							}
							.blog__header:not(:last-child) {
								margin-bottom: 64px;
							}
						
							.blog__items {
								display: grid;
								grid-template-columns: repeat(3, 1fr);
								gap: 48px;
							}
							.blog__item {
							}
							.item-blog {
								background: rgba(129, 129, 139, 0.1);
									border-radius: 24px;
									overflow: hidden;
									display: flex;
									flex-direction: column;
									min-height: 100%;

								}
								.item-blog__header{
									position: relative;
								}
							.item-blog__category {
								position: absolute;
								bottom: 0;
								left: 0;
								background: rgba(129, 129, 139, 0.5);
								border-radius: 0px 10px 0px 0px;
								color: #fff;
								font-size: 14px;
								line-height: 1.57;
								padding: 10px;
								transition:all 0.4s ;
							}
							.item-blog__category:hover {
						
								background: rgba(72, 75, 75, 0.7);
							}
							.item-blog__image {
								display: block;
								position: relative;
								padding-bottom: 49.238579%; /* 194/394 */
								overflow: hidden;
						
							}
							.item-blog__image img{
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								object-fit:cover;
								transition: all 0.4s;
							}
							.item-blog__image:hover img{
								transform: scale(1.1);
							}
				

							.item-blog__body {
								padding: 36px 26px;
							}
							.item-blog__date {
								color: #6f6f76;
							}
							.item-blog__date:not(:last-child) {
								margin-bottom: 20px;
							}
							.item-blog__title {
								font-size: 19px;
								line-height: 1.42;
							}
							.item-blog__title:not(:last-child) {
								margin-bottom: 20px;
							}
							.item-blog__link-title {
							}
							.item-blog__text {
								color: #81818B;
							}
							.item-blog__text:not(:last-child) {
								margin-bottom: 21px;
							}
							.item-blog__link {
								color: #3D96F4;
							}

							@media (max-width: 991.98px){
								.blog  {
									padding-top: 50px;
									padding-bottom: 50px;
								}
								.item-blog__date:not(:last-child) {
									margin-bottom: 10px;
								}
								.item-blog__title:not(:last-child) {
									margin-bottom: 10px;
								}
								.item-blog__text:not(:last-child) {
									margin-bottom: 11px;
								}
								.item-blog__body {
									padding: 26px 16px;
								}
							}
								@media (max-width: 767.98px){
									
										.blog {
										padding-top: 30px;
										padding-bottom: 30px;
									}
									.blog__items {
										grid-template-columns: auto;
										gap: 24px;
									}
									.blog__header:not(:last-child) {
										margin-bottom: 24px;
									}
								}
								@media (max-width: 467.98px){
									
								}


		/*==========================================================================================*/
		.page__start {
			margin-bottom: 100px;
			}
								.start__body {
									background: rgba(129, 129, 139, 0.1);
									border-radius: 30px;
									display: flex;
									align-items: center;
									padding: 52px 40px;
								}
								.start__container {
							
								}
								.start__column {
									flex: 0 1 50%;
									text-align: center;
								}
								.start__title {
									font-size: 32px;
									font-weight: 400;
									line-height: 1.4;
								}
								.start__title:not(:last-child) {
									margin-bottom: 16px;
								}
								.start__text {
									max-width: 300px;
									display: inline-block;
								}
								.start__text:not(:last-child) {
									margin-bottom: 16px;
								}
								.start__actions {
									display: flex;
									justify-content: center;
									column-gap: 32px;
									row-gap: 20px;
								}
								.start__button {
								}
								.button {
								}
								.button_dark {
								}

								@media (max-width: 991.98px){
									.start  {
										padding-top: 50px;
										padding-bottom: 50px;
									}
									.start__body{
										flex-direction: column;
										row-gap: 20px;
										align-items: stretch;
									}
									.page__start {
										margin-bottom: 50px;
										}
								}
									@media (max-width: 767.98px){
										
											.start {
											padding-top: 30px;
											padding-bottom: 30px;
										}
										.start__title {
											font-size: 22px;
										
										}}
										@media (max-width: 479.98px){
											.start__actions{
												flex-direction: column;
											}
										}
		/*==========================================================================================*/

										.footer {
										}
										.footer__main {
											padding-top: 160px;
											padding-bottom: 160px;
										}
										@media (max-width: 991.98px){
											.footer__main  {
												padding-top: 80px;
												padding-bottom: 80px;
											}
										}
											@media (max-width: 767.98px){
												
													.footer__main{
													padding-top: 40px;
													padding-bottom: 40px;
												}
												}
												@media (max-width: 479.98px){
													.footer__main{
														padding-top: 20px;
														padding-bottom: 20px;
													}
												}
										.main-footer {
										}
										.main-footer__container {
											display: grid;
											grid-template-columns: minmax(auto,378px) auto auto minmax(auto,378px);
											gap: 64px;
										}
										@media (max-width: 991.98px){
											.main-footer__container {
												
												grid-template-columns: minmax(auto,378px) auto auto;
												gap: 45px;
											}
											.main-footer__column:nth-child(1) {
												grid-column: span 3;
											}
										}
										@media (max-width: 767.98px){
											.main-footer__container {
												
												grid-template-columns:  auto auto;
												gap: 35px;
											}
											.main-footer__column:nth-child(1) {
												grid-column: span 2;
											}
											.main-footer__column:nth-child(4) {
												grid-column: span 2;
											}
										}
										
										.main-footer__column {
											display: flex;
											flex-direction: column;
											gap: 30px;
										}
										.main-footer__logo {
										}
										.main-footer__text {
										}
										.main-footer__social {
											display: flex;
											gap:16px ;
										}
										.social__link {
											flex: 0 0 36px;
											height: 36px;
											display: flex;
											justify-content: center;
											align-items: center;
											border:1px solid rgba(129, 129, 139, 0.9);
											border-radius: 50%;
										
									
								
										}
								
										
										.social__link:hover img{
											transform: scale(1.1);
										}

										.main-footer__label {
											font-size: 20px;
											line-height: 1.2; /* 24/20 */
											font-weight: 500;
										}
									
										.main-footer__menu {
										}
										.menu-footer {
										}
										.menu-footer__list {
											display: grid;
											gap: 16px;
											color: #6f6f76;
										}
										.menu-footer__item {
										}
										.menu-footer__link {
											line-height: 1.4;
											transition: all 0.3s;
										}
										.menu-footer__link:hover{
										text-decoration: underline;
										}
							
										.main-footer__subscribe {
										}
										.subscribe {
											display: flex;
											gap: 16px;
										}
										@media (max-width: 767.98px){
											.subscribe {
												flex-direction: column;
											}
										}
										.subscribe__text {
										}
										.text {
										}
										.subscribe__form {
										}
										.subscribe__input {
											width: 100%;
											height: 52px;
											border:1px solid rgba(129, 129, 139, 0.1);
											border-radius: 50px;
											padding: 0px 30px;
											color: #999999;
											color: #fff;
											background-color: transparent;
										}
										.subscribe__input::placeholder{
											color: #999999;	
										}
										.subscribe__button {
										}
										.button {
										}
										.footer__bottom {
										}
										.bottom-footer {
											border-top: 1px solid rgba(129, 129, 139, 0.1);
											padding-top: 45px;
											padding-bottom: 45px;
										}
										.bottom-footer__container {
										}
										.bottom-footer__copy {
											text-align: center;
										}
										@media (max-width: 767.98px){
											.bottom-footer {
												padding-top: 25px;
												padding-bottom: 25px;
											}
										}