&__image {
	position: relative;
	align-self: flex-end;
	flex: 1 1 toRem(663);
	max-height: 95svh;
	min-width: toRem(445);
	object-fit: cover;
	@media (max-width: toEm(700)) {
		min-width: toRem(0);
	}
	@media (max-width: toEm(891)) {
align-self: center;
	}
}

.image-top {

	// .image-top__picture

	&__picture {
		
		height:100% ;
		width: 100%;
		right: toRem(-61);

		object-fit: contain;
		@media (max-width: toEm(991.98)) {
			bottom: toRem(-15);

		}
		@media (max-width: toEm(767.98)) {       
		 right: toRem(-15);
		 bottom: toRem(0);
		}

		@media (min-width: toEm(844.98)) {
			min-width: toRem(430);
		}
		@media (max-width: toEm(844.98)) {
			object-fit: 390 / 448;
		}
	}

	// .image-top__decoration--right

	&__decoration--right {
		position: absolute;
		animation: float 3s ease-in-out infinite;
		width: percent(104, 620);
		right: toRem(9);
		top: percent(43, 620);
	}

	// .image-top__decoration--left

	&__decoration--left {
		position: absolute;
		animation: float 3s ease-in-out infinite;
		width: percent(59, 620);
			left: 0;
			top: percent(254, 620);
	}
	@keyframes float {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px); // Регулюйте значення, щоб збільшити чи зменшити підйом
		}
	}
}
