
@font-face {
	font-family: "Integral";
	src: url('../fonts/IntegralCF-Bold.woff2')format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url('../fonts/Satoshi-Bold.woff2')format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url('..fonts/Satoshi-Regular.woff2')format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url('../fonts/Satoshi-Medium.woff2')format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "icon";
	src:
		url("../fonts/icon.ttf?wdiy4f") format("truetype"),
		url("../fonts/icon.woff?wdiy4f") format("woff"),
		url("../fonts/icon.svg?wdiy4f#icon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}



[class^="icon-"]::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "icons";
  src:  url("../fonts/icons.eot?sx1bz5");
  src:  url("../fonts/icons.eot?sx1bz5#iefix") format("embedded-opentype"),
    url("../fonts/icons.ttf?sx1bz5") format("truetype"),
    url("../fonts/icons.woff?sx1bz5") format("woff"),
    url("../fonts/icons.svg?sx1bz5#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icons-"]::after,
[class*=" icons-"]::after  {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
//==
@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?sx1bz5');
  src:  url('fonts/icons.eot?sx1bz5#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?sx1bz5') format('truetype'),
    url('fonts/icons.woff?sx1bz5') format('woff'),
    url('fonts/icons.svg?sx1bz5#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.icons-prev:after {
  content: "\e900";
}
.icons-next:after {
  content: "\e901";
}

.icon-crosshair:before {
	content: "\e90b";
}
.icon-account:before {
	content: "\e900";
}
.icon-arrow-up:before {
	content: "\e901";
}

.icon-favorite:before {
	content: "\e903";
}
.icon-filter:before {
	content: "\e904";
}
.icon-search:before {
	content: "\e907";
}
.icon-shopping:before {
	content: "\e908";
}



@font-face {
	font-family: "icons";
	src: url("../fonts/icons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class*="_icon-"]::before {
	font-family: "icons";
	speak: never;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-slide::before {
	content: "\e91f";
}