@use "sass:math";
@import "base/reset";
@import "base/mixins";
@import "base/fonts";

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
}

$mainColor: rgba(0, 0, 0, 0.6);
$fontFamily: "Satoshi";
$fontSecond: "Integral";

body {
	color: black;
	font-family: $fontFamily, sans-serif;
	.lock & {
		overflow: hidden;
	}
}

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding-inline: toRem(15);
}
[class*="_title"]{

		font-family: $fontSecond, sans-serif;
		font-weight: 700;
		@include adaptiveValue("font-size", 64, 36, 0, $containerWidth, 767.98);
		color: #000;
		@media (max-width: toEm(389.98)) {
			font-size: toRem(32);
		
	}
}

@import "header";

@import "home";
